<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<messages
  name="pet"
  xmlns="http://www.simplity.org/schema"
>
  <components>
    <message
      messageType="error"
      name="pet.serverError"
      text="We are sorry. A specific pet had trouble with responding to your request. Thsi has already been reported to th emaintenance team, and some will will get back to you using your registered mail id. Meanwhile, it may not harm if you try your luck again. Who knows, the pigs may fly!!.  $1" />
  </components>
</messages>
